{% extends 'base.html' %}

{% block main_content %}

<a href="{% url 'currency:contact-us-create' %}">Contact Us Create</a>
<br>

<table border="1">
  <thead>
    <th> ID </th>
    <th> Name </th>
    <th> Subject </th>
    <th> Message </th>
    <th> Created </th>
  </thead>

  <tbody>
    {% for contact in contact_us %}
      <tr>
        <td>{{ contact.id }}</td>
        <td>{{ contact.email_from }}</td>
        <td>{{ contact.subject }}</td>
        <td>{{ contact.message }}</td>
        <td>{{ contact.created }}</td>
      </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
